
<!-- js placed at the end of the document so the pages load faster -->
<script src="__ADMINRES__/js/bootstrap.min.js"></script>
<script src="__ADMINRES__/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
</script>
<script src="__ADMINRES__/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="__ADMINRES__/js/jquery-migrate-1.2.1.min.js"></script>
<script src="__ADMINRES__/js/jquery.dataTables.js"></script>
<script src="__ADMINRES__/js/DT_bootstrap.js"></script>
<script src="__ADMINRES__/js/respond.min.js"></script>
<script class="include" type="text/javascript" src="__ADMINRES__/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="__ADMINRES__/js/jquery.scrollTo.min.js"></script>
<script src="__ADMINRES__/js/slidebars.min.js"></script>
<script src="__ADMINRES__/js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="__ADMINRES__/js/respond.min.js" ></script>
<script src="__ADMINRES__/js/count.js"></script>
<script src="__ADMINRES__/js/jquery.sparkline.js"></script>
<script src="__ADMINRES__/js/sparkline-chart.js"></script>
<script src="__ADMINRES__/js/jquery.easy-pie-chart.js"></script>
<script src="__ADMINRES__/js/easy-pie-chart.js" type="text/javascript"></script>
<script src="__ADMINRES__/js/jquery.customSelect.min.js" ></script>
<script src="__ADMINRES__/js/owl.carousel.js" type="text/javascript"></script>
<!--common script for all pages-->
<script src="__ADMINRES__/js/common-scripts.js"></script>


<script type="text/javascript">
    countUp(3);
    countUp2(6);
    countUp3(6);
    countUp4(6);
</script>


<footer class="site-footer">
    <div class="text-center">
        2016 &copy; 山西浪狐科技.
        <a href="#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
</footer>

</body>
</html>